

<div class="modal" tabindex="-1" style="display:block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>
                    <h3 class="modal-title"><span class="oi oi-info" aria-hidden="true"></span>&nbsp;&nbsp;@Name</h3>
                    </span>
                </div>
                <div class="modal-body">
                    <h2>@Messages</h2>
                </div>
                
            </div>
        </div>
    </div>

@functions {
    [Parameter]
    private string Messages { get; set; }
    [Parameter]
    private RenderFragment Name { get; set; }
}